@{
    string message = ViewBag.message;
    string email = ViewBag.ProfileEmail;
    string encodedEmail = null;
    if (email != null)
    {
        byte[] bytes = System.Text.Encoding.UTF8.GetBytes(email);
        encodedEmail = Convert.ToBase64String(bytes);
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/site.css">

    </head>
    <body>
        <div id="header">
            <h2 id="headerTitle"> Bank Data Web Service Web Application </h2>
        </div>
        <div id="naviBar">
            @if(email != null)
            {
                <ul>
                    <li>
                        <a href="/Home/Profile?email=@encodedEmail">Profile</a>
                    </li>
                    <li>
                        <a href="/Home/AccountSummary?email=@encodedEmail">Account Summary</a>
                    </li>
                    <li>
                        <a href="/Home/Transaction?email=@encodedEmail">Transaction</a>
                    </li>
                    <li>
                        <a href="/Home/Index">Logout</a>
                    </li>
                </ul>
            }
            else
            {
                <ul>
                    <li>
                        <a href="/Home/Index">Login</a>
                    </li>
                </ul>
            }
        </div>
        <div id="mainBody">
            @RenderBody()
        </div>
        <div id="footer">
            <p> Website created by team: Lee Toh Onn, Ariel Starling, Ramprakash</p>
        </div>
    </body>
</html>
