@using BankDataWebService.Models;

@{
    ViewData["Title"] = "AccountSummary";
    List<Bank> banks = ViewBag.Banks;
    string email = ViewBag.ProfileEmail;
    string encodedEmail = null;
    if (email != null)
    {
        byte[] bytes = System.Text.Encoding.UTF8.GetBytes(email);
        encodedEmail = Convert.ToBase64String(bytes);
    }
}

@if (email != null) //Profile Viewing and editing
{
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th><strong>Account Number</strong></th>
                    <th><strong>Balance</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Bank item in banks)
                {
                    <tr>
                        <td><a href="/Home/TransactionHistory?email=@encodedEmail&accountNumber=@item.accountNumber">@item.accountNumber</a></td>
                        <td>RM @item.balance</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <style>
        .table-container {
            width: 50%;
            height: 100%;
            margin: 0 auto;
            overflow-x: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
}
else
{
    <p> Please login first!</p>
}