@{
    ViewData["Title"] = "Log In Page";
    string email = ViewBag.ProfileEmail;
    string error = ViewBag.Error;
    string name = ViewBag.ProfileName;
    string type = ViewBag.ProfileType;
}

@if(email != null){
    <p id="status">Welcome, @name!</p>
    
}
else{
    <div id="LoginForm">
        @if(error != null && error.Length > 0)
        {
            <p>@error</p>
        }
        <form action="/Home/" method="post">
            <input id="Uemail" type="text" name="email" placeholder="User Email"/>
            @Html.ValidationMessage("email")
            <input id="Upass" type="password" name="password" placeholder="Password"/>
            @Html.ValidationMessage("password")
            <input type="submit" value="Submit">
        </form>
    </div>
}