@{
    ViewData["Title"] = "Log In Page";
    string message = ViewBag.message;
    string error = ViewBag.Error;
}

@if(message != null && message.Equals("LoggedIn")){
    <p id="status">User Successfully Logged In!</p>
    
}
else{
    <div id="LoginForm">
        @if(error != null && error.Length > 0)
        {
            <p>@error</p>
        }
        <form action="/Home/" method="post">
            <input id="Uemail" type="text" name="email" placeholder="User Email"/>
            <input id="Upass" type="password" name="password" placeholder="Password"/>
            <input type="submit" value="Submit">
        </form>
    </div>
}