@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Security Logs";
    string name = ViewBag.ProfileName;
    string email = ViewBag.ProfileEmail;
    string address = ViewBag.ProfileAddr;
    string phone = ViewBag.ProfilePhone;
    string password = ViewBag.ProfilePassword;
    string picture = ViewBag.ProfilePicture;
    string profType = ViewBag.ProfileType;
}

@if(email != null)
{
   <div>
       <p> Security Logs </p>
    </div>
}
else
{
    <div>
        <p> Youre not supposed to be here... </p>
    </div>
}
