@using BankDataWebService.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Security Logs";
    string email = ViewBag.ProfileEmail;
    List<Log> logs = ViewBag.LogList;

    string encodeString(string rawString)
    {
        byte[] bytes = System.Text.Encoding.UTF8.GetBytes(rawString);
        string encodedString = Convert.ToBase64String(bytes);
        return encodedString;
    }
}

@if(email != null)
{
   <div>
       <h3> Security Logs </h3>
    </div>
    <div class="table-logs">
        <table>
            <thead>
                <tr>
                    <th><strong>Log ID</strong></th>
                    <th><strong>Admin</strong></th>
                    <th><strong>Severity</strong></th>
                    <th><strong>Description</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Log item in logs)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.admin</td>
                        <td>@item.severity</td>
                        <td>@item.message</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <style>
        .table-logs {
            width: 50%;
            height: 90%;
            margin: 0 auto;
            overflow-x: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
}
else
{
    <div>
        <p> Youre not supposed to be here... </p>
    </div>
}
