@using BankDataWebService.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Transaction Management";
    string email = ViewBag.ProfileEmail;
    List<Transaction> transactions = ViewBag.TransactionList;
}

@if (email != null)
{
    <div>
        <h3> Transaction Management </h3>
    </div>
}
else
{
    <div>
        <p> Youre not supposed to be here... </p>
    </div>
}
