@using BankDataWebService.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "User Menu";
    string email = ViewBag.ProfileEmail;
    Profile profileUser = ViewBag.ProfileUser;
    string type = ViewBag.ProfileType;
    bool editState = ViewBag.EditState;
    string message = ViewBag.UserMenuMsg;
    string removeSpaces(string input)
    {
        string result = input;
        if (!String.IsNullOrEmpty(input))
        {
            result = String.Concat(input.Where(c => !Char.IsWhiteSpace(c)));
        }
        return result;
    }
}

@if(email != null)
{
    @if (editState)
    {
        @if (profileUser != null)
        {
            @if (!profileUser.email.Equals("new"))
            {
                <div id="UserMenuEdit">
                    <form action="/updateuser" method="post">
                        <input id="adminEmail" type="hidden" name="adminemail" value=@email />
                        <input id="userEmail" type="text" name="useremail" placeholder="User Email" value=@profileUser.email required />
                        <input id="userName" type="text" name="username" placeholder="User Name" value=@profileUser.name required />
                        <input id="userAddr" type="text" name="useraddr" placeholder="User Addr" value=@removeSpaces(profileUser.address) />
                        <input id="userPhone" type="text" name="userphone" placeholder="User Phone" value=@profileUser.phone />
                        <input id="userPass" type="text" name="userpass" placeholder="Password" value=@profileUser.password required />
                        <input id="userType" type="text" name="usertype" placeholder="Profile Type" value=@profileUser.type required />
                        <input type="submit" value="Update Profile">
                    </form>
                    <form action="/deleteuser" method="post">
                        <input id="adminEmail" type="hidden" name="adminemail" value=@email />
                        <input id="userEmail" type="hidden" name="useremail" value=@profileUser.email />
                        <input id="deleteConfirm" type="hidden" name="deleteconfirm" value=@profileUser.email />
                        <input type="submit" value="Delete Profile">
                    </form>
                </div>
            }
            else
            {
                <div id="UserMenuNew">
                    <form action="/postuser" method="post">
                        <input id="adminEmail" type="hidden" name="adminemail" value=@email />
                        <input id="userEmail" type="text" name="useremail" placeholder="User Email" required />
                        <input id="userName" type="text" name="username" placeholder="User Name" required />
                        <input id="userAddr" type="text" name="useraddr" placeholder="User Addr" />
                        <input id="userPhone" type="text" name="userphone" placeholder="User Phone" />
                        <input id="userPass" type="text" name="userpass" placeholder="Password" required />
                        <input id="userType" type="text" name="usertype" placeholder="Profile Type" value="user" required />
                        <input id="confirmQuery" type="hidden" name="confirm" value=@email />
                        <input type="submit" value="Post Profile">
                    </form>
                </div>
            }
        }
        <p>@message</p>
    }

    <style>
        div#UserMenuEdit{
            width: 300px;
            padding-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }

        div#UserMenuNew{
            width: 300px;
            padding-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
}
else
{
    <p>Failed to display User Menu</p>
}
